{
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "extends": [
      "airbnb/base",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "prettier/prettier": ["error", { "endOfLine":"auto" }],
      "no-debugger": "off",
      "no-console":"off"
    }
}